/ {
	aliases {
		ledext0 = &ledext0;
                ledext1 = &ledext1;
                ledext2 = &ledext2;
                ledext3 = &ledext3;
                ledext4 = &ledext4;
                ledext5 = &ledext5;
	};
};

/ {
leds {
      compatible = "gpio-leds";
	ledext0: led_ext0 {
		gpios = <&gpio1 02 GPIO_ACTIVE_LOW>; //définir le SPI reset sur le P1.02
		label = "LED EXTERNE 0";
                };
        ledext1: led_ext1 {
        	gpios = <&gpio1 10 GPIO_ACTIVE_LOW>; //définir le led externe 1 sur le P1.10
        	label = "LED EXTERNE 1";
                };

        ledext2: led_ext2 {
        	gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
        	label = "LED EXTERNE 2";
                };

        ledext3: led_ext3 {
        	gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
        	label = "LED EXTERNE 3";
                };

        ledext4: led_ext4 {
        	gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
        	label = "LED EXTERNE 4";
                };

        ledext5: led_ext5 {
        	gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
        	label = "LED EXTERNE 5";
                };
      };
};

/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc 0>;
	};
};

&adc {
	status = "okay";
};

&uart1 {
	status = "disabled";
};

&spi2{ 
	compatible = "nordic,nrf-spim"; 
	status = "okay";
	sck-pin = <8>;
	mosi-pin = <9>;
	miso-pin = <24>;

	cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
};